@import "tailwindcss";

@theme {
  /* 
    Colors 
  */
  --color-secondary: #bdbec0;
  --color-label: #afc0d1;
  --color-effect: #00d1c4;
  --color-background: #122433;
  --color-background-secondary: #0e1d2a;
  --color-background-tertiary: #213341;
  --color-background-quaternary: #008980;

  --width-card: 564px;

  --color-border: #1d364d;

  /* 
    Background Image
  */

  --background-image: url("/background.png");
}

body {
  background-color: #111928;
  color: #fff;
  text-align: center;
}

* {
  /* outline: none; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
